<div class="header">
  <div class="container">
    <div class="d-md-flex align-items-center justify-content-between">
      <div>
        <h3 *ngIf="!authCompleted">Keep track of your spending in real time</h3>
        <h3 *ngIf="authCompleted">Select a spending category above to begin tracking your transactions</h3>
        <div class="alert alert-danger" *ngIf="error">
          <p>{{ error }}</p>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!authCompleted">
          <div class="form-group">
            <label for="email">E-Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
            />
          </div>
          <br />
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              class="form-control"
              ngModel
              name="password"
              required
              minlength="6"
            />
          </div>
          <br />
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!authForm.valid"
          >
            {{ isLoginMode ? "Login" : "Sign Up" }}
          </button>
          |
          <button
            class="btn btn-success"
            (click)="onSwitchMode()"
            type="button"
          >
            Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
          </button>
        </form>
      </div>
      <img
        class="img-fluid d-none d-md-block"
        src="https://www.pngkey.com/png/full/827-8278294_money-money-beginning-of-the-gardening-season-transparent.png"
        alt=""
      />
    </div>
  </div>
</div>
