<div class="header">
  <div class="container">
    <div class="d-md-flex align-items-center justify-content-between">
      <div>
        <form>
          <div class="form-group">
            <label for="email">E-Mail</label>
            <input
            type="email"
            id="email"
            class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
            type="password"
            id="password"
            class="form-control">
          </div>
          <br>
          <button class="btn btn-success btn-lg">
            Submit
          </button>
        </form>
      </div>
      <img class="img-fluid d-none d-md-block" src="https://www.pngkey.com/png/full/827-8278294_money-money-beginning-of-the-gardening-season-transparent.png"alt=""/>
    </div>
  </div>
</div>
