
  <div class="header">
    <div class="container">
      <div class="d-md-flex align-items-center justify-content-between">
        <div>
          <h3>Keep track of your spending in real time</h3>
          <div><button class="btn btn-success btn-lg">Login</button></div>
          <br>
          <div><button class="btn btn-success btn-lg">Sign Up</button></div>
        </div>
        <img class="img-fluid d-none d-md-block" src="https://www.pngkey.com/png/full/827-8278294_money-money-beginning-of-the-gardening-season-transparent.png"alt=""/>
      </div>
    </div>
  </div>





