.header {
  text-align: center;
  background: linear-gradient(black,white );
  color: white;
};

 em {
   font-size: 40px;
   font-style: italic;

 }

 h3{
  padding: 60px;
  font-style: oblique;
  font-size: 30px;
 }

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute
}
